.steps{
    display: flex;
    align-items: center;
    gap: 3.2rem;
    border-bottom: 1px solid var(--base-gray-100);
    padding-bottom: 32px;

    /* Cria uma variavel para contar o numero de passos
        - Inicialmente nossa variavel 'step' vale 0
    */
    counter-reset: step;
}

.steps strong{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    color: var(--base-gray-200);
}

.steps strong.active{
    color: var(--base-gray-400);
}

.steps strong::before{
    font-family: 'Titillium Web', sans-serif;
    color: var(--base-gray-200);
    /* Atribui a variavel step ao conteudo toda vez que encontrar algo do tipo e incrementa ++ ao step que antes valia 0 */
    content: counter(step); 
    counter-increment: step;
    font-size: 14px;
    background-color: var(--base-gray-100);
    width: 2.8rem;
    height: 2.8rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.steps strong.active::before{
    background-color: var(--produto-purple-mid);
    color: var(--base-white);
    
}

.steps strong.done::before{
    content: '✔';
    color: var(--base-white);
    background-color: var(--feedback-sucess-color);
}